html body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #272343;
    display: flex;
    /*Align horizontal*/
    justify-content: center;
    /*Align vertical*/
    align-items: center;
    height: 100vh;
}

#quiz {
    background-color: #e3f6f5;
    width: 30rem;
    padding: 4rem;
    text-align: center;
}

h1 {
    color: #57636e;
    font-size: 3rem;
    text-align: center;
    padding: 2px;
}

#question {
    font-size: 1.7rem;
    color: #5a6762;
}

.button {
    background-color: #34a3a3;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: .3rem;
    padding: 16px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}

.button:hover {
    cursor: pointer;
    background-color: #272343;
}

#progress {
    font-size: 20px;
}